----------------------------------------------
12-05-2020   Web Applicaion using JSP Steps
----------------------------------------------
1. Create Empty Maven Project in Eclipse
2. Goto pom.xml and add tomcat7 + maven compiler plugins + javax dependencies
3. Cpy and pst the web.xml with the new code available
4. Create a Servlet by creating a new package and create Get method with the help of HTTP Servlet
5. add getRequestDispatcher("Path of jsp file").forward method in Get Method  ------->  CREATED JSP FILE IS SHOWN IN BROWSER(/WEB-INF/views/login.jsp)



Bootstrap dependencies:

		<dependency>
		<groupId>org.webjars</groupId>
			<artifactId>bootstrap</artifactId>
			<version>3.3.6</version>
		</dependency>
		<dependency>
		<groupId>org.webjars</groupId>
			<artifactId>jquery</artifactId>
			<version>1.9.1</version>
		</dependency>


In head:
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

-------------------------------------------------------------------------------

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/css/bootstrap.min.css"></script>

</body>

Handling Cookie:

		Cookie[] cookies = request.getCookies();
		if (cookies != null) {
			for (Cookie cookie : cookies) {
				if (cookie.getName().equals("username")) {
					username = cookie.getValue();

				}

				if (cookie.getName().equals("JSESSIONID")) {
					sessionID = cookie.getValue();

				}
			}
		}

		if(sessionID == null || username == null){
			response.sendRedirect("login.jsp");
		}
		
Controller:
			//To destroy the cookie
			Cookie[] cookies = request.getCookies();
			for(Cookie cookie: cookies) {
				if(cookie.getName().equals("username")) {
					cookie.setValue(null);
					cookie.setMaxAge(0);
					response.addCookie(cookie);
				}
			}

-----------------------			
Links:
------------------------
JSTL Tags:
Core, XML, I18N, DATABASE, FUNCTIONS
https://studyeasy.org/jstl/jstl-taglibs/
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>

<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>

<%@ taglib prefix="x" uri="http://java.sun.com/jsp/jstl/xml"%>

<%@ taglib prefix = "fmt" uri = "http://java.sun.com/jsp/jstl/fmt" %>
 

Implicit Objects:
https://studyeasy.org/general/implicit-objects/

context.xml in META-INF File

<Context>
 
  <Resource name="jdbc/project" 
  
  			   auth="Container" type="javax.sql.DataSource"
               maxActive="25" maxIdle="5" maxWait="10000"
               username="student" password="student" 
               driverClassName="com.mysql.cj.jdbc.Driver"
               
               url="jdbc:mysql://127.0.0.1:3306/website?useSSL=false"/>
 
</Context>

----------------------------------------------
14-07-2020
---------------------------------------------
java.lang.ClassCastException: class java.util.Date cannot be cast to class java.sql.Date (java.util.Date is in module java.base of loader 'bootstrap'; java.sql.Date is in module java.sql of loader 'platform')
	entity.Diary.<init>(Diary.java:19)
	controller.HomeController.doPost(HomeController.java:59)
	javax.servlet.http.HttpServlet.service(HttpServlet.java:660)
	javax.servlet.http.HttpServlet.service(HttpServlet.java:741)
	org.apache.tomcat.websocket.server.WsFilter.doFilter(WsFilter.java:53)


