----------------------------------------------
12-05-2020   Web Applicaion using JSP Steps
----------------------------------------------
1. Create Empty Maven Project in Eclipse
2. Goto pom.xml and add tomcat7 + maven compiler plugins + javax dependencies
3. Cpy and pst the web.xml with the new code available
4. Create a Servlet by creating a new package and create Get method with the help of HTTP Servlet
5. add getRequestDispatcher("Path of jsp file").forward method in Get Method  ------->  CREATED JSP FILE IS SHOWN IN BROWSER(/WEB-INF/views/login.jsp)



Bootstrap dependencies:

		<dependency>
		<groupId>org.webjars</groupId>
			<artifactId>bootstrap</artifactId>
			<version>3.3.6</version>
		</dependency>
		<dependency>
		<groupId>org.webjars</groupId>
			<artifactId>jquery</artifactId>
			<version>1.9.1</version>
		</dependency>


In head:
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

-------------------------------------------------------------------------------

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/css/bootstrap.min.css"></script>

</body>